@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@600&display=swap');
*, html{
    font-size: 20px;
    margin: 0;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 40px;
}
h3{
    font-size: 20px;

}

header, main,  footer{
    display: flex;
    text-align: center;
    justify-content: center;
    
}
/* header{
    width: 100%;
    height: 100px;
    background: aqua;

} */
/* nav{
    width: 100%;
    height: 90px;
    background: grey;

} */
.fConteiner {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: lightgrey;
}

.wrapper{
    display: flex;
    font-size: 20px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(180,8,8,0.9444152661064426) 23%, rgba(0,212,255,1) 100%);
    color: white;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;
}

.fristname{
    color: rgb(179, 10, 10);
    font-weight: 700;
}

.lastname{
    color: grey;
    padding-left: 4px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;

}

.navigation >li {
    list-style-type: none;
    padding: 15px;
}
.navigation >li >a {
    color: aquamarine;
    font-size: 17px;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation>li>a:hover {
    color: grey;
    transition: all .3s ease-in-out;
}

.active {
    background-color: gray;
    color: white;
    padding: 15px;
}

.active:hover {
    color: white !important;
}

main{
    width: 100%;
    height: 600px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(180,8,8,0.9444152661064426) 23%, rgba(0,212,255,1) 100%);

}

.image{
    display: flex;
    width: 100%;
    transition: 2s;
}
.image img{
    width: 100%;
}
.slide{
    width: 900px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#slide-1:target ~ .image {
    margin-left: 0px;
}

#slide-2:target ~ .image {
    margin-left: -100%;
}

#slide-3:target ~ .image {
    margin-left: -200%;
}

.geser a{
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: rgb(1, 20, 5);
    font-size: 0px;
    border-radius: 50%;
    margin: 3px;
    transition: 1s;
}
.geser a:hover {
    background-color: lightgrey;
}

.geser {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -50px;
}

@media screen and (max-width: 800px){
    .wrapper {
        width: 90%;
    }
}





aside{
    width: 100%;
    height: 450px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(180,8,8,0.9444152661064426) 23%, rgba(0,212,255,1) 100%);
    text-align: center;
    justify-content: center;

}

.fcc-btn {
    background-color: green;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5%;
  }
  
  .fcc-btn:hover {
    background-color: #223094;
  }

footer{
    width: 100%;
    height: 110px;
    background: rgb(1, 49, 13);

}



.area{
    width: 100%;
    background: transparent;
    border-radius: 5px;
    padding: 25px 25px 30px;
    
}

.area h2{
    color: black;
    font-size: 50px;
    text-align: center;

}

.area textarea{
    width: 50%;
    height: 59px;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    resize: none;
    font-size: 20px;
    margin-top: 5px;
    border-radius: 5px;
    border-color: black;
}


textarea :is(:focus, :valid){
    border-color: white;
    padding: 14px;
    border-color: aqua;
}
textarea::-webkit-scrollbar{
    width: 0px;
}

input[type="file"]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: white;
  transition: 1s;
}

input[type="file"]::-ms-browse:hover {
  background-color: #81ecec;
  border: 2px solid grey;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #81ecec;
  border: 2px solid grey;
}

input[type="file"]::file-selector-button:hover {
  background-color: gray;
  border: 2px solid #00cec9;
}

label{
    font-size: 30px;
}

.z-depth-5, .modal {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
            box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  }

  .modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
  }

  .modal:focus {
    outline: none;
  }
  
  @media only screen and (max-width: 992px) {
    .modal {
      width: 80%;
    }
  }
  
  .modal h1, .modal h2, .modal h3, .modal h4 {
    margin-top: 0;
  }
  
  .modal .modal-content {
    padding: 24px;
  }
  
  .modal .modal-close {
    cursor: pointer;
  }
  
  .modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
    text-align: right;
  }
  
  .modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
    margin: 6px 0;
  }
  
  .modal-overlay {
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity;
  }
  
  .modal.modal-fixed-footer {
    padding: 0;
    height: 70%;
  }
  
  .modal.modal-fixed-footer .modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
  }
  
  .modal.modal-fixed-footer .modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
  }
  
  .modal.bottom-sheet {
    top: auto;
    bottom: -100%;
    margin: 0;
    width: 100%;
    max-height: 45%;
    border-radius: 0;
    will-change: bottom, opacity;
  }

  .datepicker-modal {
    max-width: 325px;
    min-width: 300px;
    max-height: none;
  }
  
  .datepicker-container.modal-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }

  @media only screen and (min-width: 601px) {
    .datepicker-modal {
      max-width: 625px;
    }}
    .datepicker-container.modal-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
    }

    .timepicker-modal {
        max-width: 325px;
        max-height: none;
      }
      
      .timepicker-container.modal-content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0;
      }
      @media only screen and (min-width: 601px) {
        .timepicker-modal {
          max-width: 600px;
        }
        .timepicker-container.modal-content {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
        }}


        .col .row {
            margin-left: -0.75rem;
            margin-right: -0.75rem;
          }

          .row .col {
            float: left;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            padding: 0 0.75rem;
            min-height: 1px;
          }

          .input-field.col .dropdown-content [type="checkbox"] + label {
            top: 1px;
            left: 0;
            height: 18px;
            -webkit-transform: none;
                    transform: none;
          }


          .input-field.col .prefix ~ label,
          .input-field.col .prefix ~ .validate ~ label {
            width: calc(100% - 3rem - 1.5rem);
          }  