*, html{
    font-size: 20px;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
header, main, aside, footer{
    display: flex;
    justify-content: center;
    
}
/* header{
    width: 100%;
    height: 100px;
    background: aqua;

} */
/* nav{
    width: 100%;
    height: 90px;
    background: grey;

} */
.fConteiner {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: lightgrey;
}

.wrapper{
    display: flex;
    font-size: 20px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;
}

.fristname{
    color: white;
    font-weight: 700;
}

.lastname{
    color: grey;
    padding-left: 4px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;

}

.navigation >li {
    list-style-type: none;
    padding: 15px;
}
.navigation >li >a {
    color: white;
    font-size: 17px;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation>li>a:hover {
    color: grey;
    transition: all .3s ease-in-out;
}

.active {
    background-color: gray;
    color: white;
    padding: 15px;
}

.active:hover {
    color: white !important;
}















main{
    width: 100%;
    height: 600px;
    background: lightgrey;

}

.image{
    display: flex;
    width: 100%;
    transition: 2s;
}
.image img{
    width: 100%;
}
.slide{
    width: 800px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#slide-1:target ~ .image {
    margin-left: 0px;
}

#slide-2:target ~ .image {
    margin-left: -100%;
}

#slide-3:target ~ .image {
    margin-left: -200%;
}

.geser a{
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: azure;
    font-size: 0px;
    border-radius: 50%;
    margin: 3px;
    transition: 1s;
}
.geser a:hover {
    background-color: lightgrey;
}

.geser {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -50px;
}

@media screen and (max-width: 800px){
    .wrapper {
        width: 90%;
    }
}





aside{
    width: 100%;
    height: 445px;
    background: lightgrey;
}
.aside p {
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    width: 100%;
    height: 110px;
    background: aqua;

}
